.feature-item{
   max-width: 345px;

   a{
    text-decoration: none;
    color: black;
   }
   &__img{
    position: relative;

    img{
        height: 191px;
        object-fit: cover;
        width: 344px;
    }
    &-tag{
        position: absolute;
        top: 8px;
        right: 16px;
        padding: 4px;
        border-radius: 16px;        
    }
   }
   &__content{
    display: flex;
    flex-flow: row nowrap;
    padding-top: 8px;
    justify-content: space-between;
   }
}

//@media (max-width: 768px) {
//
//  .feature-item {
//    &__img{
//      ma
//      position: relative;
//      &-tag{
//        position: absolute;
//        top: 8px;
//        right: 16px;
//        padding: 4px;
//        border-radius: 16px;
//      }
//    }
//    &__content{
//      display: flex;
//      flex-flow: row nowrap;
//      padding-top: 8px;
//      justify-content: space-between;
//    }
//  }

//}