@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


.cart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 50px 20px ;
  font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: normal;

    &__back{
      text-decoration: none;
      color: #FF6868;
    }

  &__container {
    display: flex;
    align-self: center;
    gap: 30px;

    &__list {
      padding: 20px;
      border-radius: 10px;
      background-color: #FFD5D5;
    }

    &__total {
      min-width: 350px;

      &__price {
        display: flex;
        flex-direction: column;
        background-color: #FFD5D5;
        padding: 30px;
        gap: 30px;

        .cart-h1 {
          font-size: 32px;
        }

        .total-price-container {
          display: flex;
          gap: 40px;
        }
      }

      .container-cep {
        display: flex;
        border: 1px solid #FFD5D5;
        justify-items: center;
        align-items: center;
        padding: 70px 20px;
      }
    }
  }
}

@media (max-width: 950px) {
  .cart {
    &__container {
      flex-direction: column-reverse;

      &__total {
      }
    }
  }
}