@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Lobster&display=swap');


.product{
    margin: 70px;

    .productsection{
        &__id{
            img{
                height: 400px;
                width: 700px;
                object-fit: cover;
            }
        }
    }

    &__recomendation{
        margin-top: 90px;
        display: flex;
        flex-flow: column nowrap;
        gap: 30px;

        h2{
            font-size: 32px;
            font-family: "Bacasime Antique", serif;
            font-weight: 400;
            font-style: normal;
        }

        &-items{
            display: flex;
            flex-flow: row;
            gap: 80px;
        }
    }
}