@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Lobster&display=swap');

.header{
    border: 1px solid #F4F3F3;
    display: flex;
    justify-content: space-between;
    padding: 34px;
    align-items: center;

    &__logo{
        font-size: 32px;
        font-family: "Lobster", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #FF3C3C;
    }

    &__menu{
        display: flex;
        flex-flow: row nowrap;
        gap: 60px;

        li{
            list-style: none;

            a{
                text-decoration: none;
                color: black;
                font-size: 24px;
                font-family: "Bacasime Antique", serif;
                font-weight: 400;
                font-style: normal;
                &:hover{
                    color: #FF6868 !important;
                }
            }
        }
    }

    &__user{
        display: flex;
        gap: 10px;
        align-items: center;

        &-acessibility{
            display: flex;
            gap: 8px;

            .acessibility-btn{
                background-color: #F4F3F3;
                border: 1px solid #b4b4b4;
                align-content: center;
                padding: 7px;
                cursor: pointer;
            }
        }

        &-profile{
            a{
                background: #b4b4b4;
                padding: 9px 18px;
                border-radius: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }
}