@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


.cart-container {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;

  &__img {
    width: 90px;
    height: 80px;
    border-radius: 100%;
  }

  &__details {
    display: flex;
    margin: 0 30px;
    min-width: 300px;
    justify-content: space-between;
    align-items: center;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: normal;

  }

  &__quantity{
    width: 50px;
    justify-items: center;
  }

  &__button {
    background-color: transparent;
    border: none;
  }
}

@media (max-width: 600px) {
  .cart-container {
    margin-bottom: 30px;

    &__img {
      width: 80px;
      height: 80px;
      object-fit: cover;
    }

    &__details {
      flex-direction: column;
      min-width: 0;
      justify-content: space-between;
      gap: 10px;
    }
  }
}