@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

.footer{
    background-color: #FFC0C0;
    padding: 100px 40px 100px 40px;
    text-align: center;
    color: white;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}